<section>
  <h1>Olá <span id='intention'> <%= @intention.name %></span>,
  <% if  @intentions_with_same_address.empty? %>
    não há usuários na sua região.</h1>
  <% else %>
    conheça os usuários da sua região:</h1>
  <% end %>

  <div id='guests-list'>
    <% @intentions_with_same_address.each do |intention| %>
      <div style="border: 5px solid red;">
        <p> <strong> Nome: </strong> <%= intention.name %> </p>
        <p> <strong> Cargo: </strong> <%= intention.position %> </p>
        <p> <strong> Email: </strong> <%= intention.email %> </p>
        <p> <strong> Interesses: </strong> <%= intention.interests %> </p>
        <p> <strong> Empresa: </strong> <%= intention.company %> </p>
        <p> <strong> Região: </strong> <%= intention.address %> </p>
      </div>
  <% end %>
  </div>
</section>
