<section>
  <h1>Conheça os usuários da sua região</h1>
  <% @intentions_with_same_address.each do |intention| %>
    <div style="border: 5px solid red;">
      <p> <strong> Nome: </strong> <%= intention.name %> </p>
      <p> <strong> Email: </strong> <%= intention.email %> </p>
      <p> <strong> Interesses: </strong> <%= intention.interests %> </p>
      <p> <strong> Empresa: </strong> <%= intention.company %> </p>
      <p> <strong> Região: </strong> <%= intention.address %> </p>
    </div>
  <% end %>
</section>
