
<div class="row">
  <div class="col-md-12">
<%= simple_form_for @intention do |f| %>
 <%= f.input :name, label: 'Nome',
             error: 'Desculpe, precisamos saber o seu nome...' %>
 <%= f.input :email, label: 'E-mail',
             error: 'Coloque seu e-mail para podermos nos falar!'  %>
 <%= f.input :interests, label: 'Interesses',
             placeholder: 'Vendas B2B, Agritech, Desenvolvimento Profissional, Desenvolvimento de Software em Ruby on Rails',
             hint: 'Separe os seus interesses com uma vírgula para que possamos identificá-los melhor',
             error: 'Coloque seus interesses, para nos ajuda a encontrar um bom almoco para você!'%>
 <%= f.input :company, label: 'Empresa', error: 'Por favor nos diga a sua empresa, se você trabalha por conta, coloque o seu nome' %>
 <%= f.input :position, label: 'Cargo', error: 'Desculpe, esse campo é obrigatório.' %>
 <%= f.input :location, label: 'Região', collection:['Paulista', 'Berrini',
                                                    'Faria Lima', 'Centro',
                                                    'Pinheiros'],
 error: 'Selecione uma das regiões de almoço!' %>
 <%= f.input :date, label: 'Dia da semana que prefere para o networking', collection:['Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado', 'Domingo'],
 error: 'Selecione o dia da semana que você está mais disponível!' %>
  <%= f.submit 'Quero receber convites!', class: 'btn btn-warning' %>
<% end %>
</div>
</div>
