<h1>Obrigado, por se inscrever</h1>

<p>Em breve enviaremos um convite para você conhecer alguém incrível!</p>

<p>Enquanto isso, confira os dados da sua inscrição </p>

<p><%= @intention.name %></p>
<p><%= @intention.email %></p>
<p><%= @intention.interests %></p>
<p><%= @intention.company %></p>
<p><%= @intention.position %></p>
<p><%= @intention.location %></p>
<p><%= @intention.date %></p>
