<section>
  <h1 class="lead">Obrigado por se inscrever <strong><%= @intention.name %></strong>, conheça quem você pode
           chamar para almoçar na região:<strong><%= @intention.location %></strong> </h1>

  <% @intentions_with_same_location.each do |intention| %>
    <div class="well well-lg">
      <div>
        <p> <strong> Nome: </strong> <%= intention.name %> </p>
        <p> <strong> Interesses: </strong> <%= intention.interests %> </p>
        <p> <strong> Empresa: </strong> <%= intention.company %> </p>
        <p> <strong> Cargo: </strong> <%= intention.position %> </p>
        <p> <strong> Região: </strong> <%= intention.location %> </p>
        <p> <strong> Dia da semana preferido: </strong> <%= intention.date %> </p>
      </div>
      <div>
        <%= link_to 'Quero Almoçar', restaurants_intention_path(@intention, selected_intention: intention), class:'btn btn-warning' %>
      </div>
    </div>
  <% end %>
</section>
