<section>
  <h1>Conheça os usuários da sua região</h1>
  <% @users_with_same_address.each do |user| %>
    <div style="border: 5px solid red;">
      <p> <strong> Nome: </strong> <%= user.name %> </p>
      <p> <strong> Email: </strong> <%= user.email %> </p>
      <p> <strong> Interesses: </strong> <%= user.interest_1 %> </p>
      <p> <strong> Empresa: </strong> <%= user.company %> </p>
      <p> <strong> Região: </strong> <%= user.address %> </p>
    </div>
  <% end %>
</section>
