<h1>Obrigado, por se inscrever</h1>

<p>Em breve enviaremos um convite para você conhecer alguém incrível!</p>

<p>Enquanto isso, confira os dados da sua inscrição </p>

<p><%= @user.name %></p>
<p><%= @user.email %></p>
<p><%= @user.interests %></p>
<p><%= @user.company %></p>
<p><%= @user.address %></p>
<p><%= @user.date %></p>
<p><%= @user.time %></p>
